#navbar{height: 2%;}

#about{background-image: url(../images/mechie.png);
    background-size:cover;
text-align: center;
background-attachment: fixed;
height: 650px;
position: relative;
top: -40px;
}
.main{text-align: center;
    padding-top: 15%;
    line-height: 1;
    font-family: Radley;
    font-weight: normal;
    font-size: 64px;
    
    color: #F5D984;}

.desc{color:#56CCF2;
    font-family: Roboto;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    color: #56CCF2;}

.time{color: #F2C94C;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 105px;
padding-top: 5px;}

    .time2{
        font-family: Ropa Sans;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 36px;
text-align: center;
color: #F2C94C;
padding-top: 5px;

    }

ul {position: relative;
    right: 10px;
    top: 5px;
    list-style-type: none;
    margin-right: 5px;
    ;
    overflow: hidden;
    background-color: #fff;
}

li {
    float: right;
    margin-left: 5px;
}

li a {
    display: block;
    color: #56CCF2 ;
    text-align: center;
    text-decoration: none;
    
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}